/newsapp/node_modules
/firstexsersize/node_modules
/hello-node/node_modules
/hello-pg-promise/node_modules
/helloexpress/node_modules
/implement-post-route/node_modules
/mustache-pages/node_modules
/query-string/node_modules
/returning-json/node_modules
/Routebasics/node_modules
/hello-sequelize/node_modules